<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <p class="test">Hello {{.Name}}</p>
    <h1>{{.Address.Street}}</h1>
  </body>
</html>
